# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# context
PROJECT_CONTEXT.md
docs/BLUEPRINT.md
